@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>BlowOut Rentals is first and foremost a family business. It was founded in 1934 by Brian Marchant, and has been passed down zero times
            since then. Thats right, Brian is still the sole owner of the business, and doesn't plan on dying anytime soon. </p>
            <p>We are dedicated to providing the best service, quality instruments, and a heart full of love to all of our customers</p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img id="brian" class="img-responsive img-circle center-block" src="~/Content/Images/Brian.jpg" />
            <h3>Founder, CEO</h3>
        </div>
    </div>
</div>